* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}
h1 {
    font-size: large;
    margin: 10px;
}
h2 {
    font-size: medium;
    color: yellow;
}
body {
    margin: auto;
    background-color: #0D1B2A;
    color: #E0E1DD;
    text-align: center;
    box-sizing: content-box;
}
#container {
    margin: 10px;
    padding: 50px;
}
button {
    background-color: #778DA9;
    padding: 15px;
    border-radius: 10px;
    shape-outside: none;
    border: 2px solid;
    border-color: #E0E1DD;
    color: #0D1B2A;
    font-size: large;
}
button:hover {
    box-shadow: #171928 0 4px 8px, #171928 0 7px 13px -3px, #171928 0 -3px 0 inset;
    transform: translateY(-2px);
}
button:active { 
    box-shadow: #5b739d 0 3px 7px inset;
    transform: translateY(2px);
}
#display {
    background-color: lightblue;
    height: 300px;
    width: auto;
    margin: auto 50px auto 50px;
    display: flex;
    border-radius: 10px;
    shape-outside: none;
    border: 2px solid black;
}
.item {
    border-radius: 10px;
    shape-outside: none;
    border: 2px solid;
    background-color: black;
    width: 100px;
    height: 30px;
    margin: 25px auto 25px auto;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    border: 2px red;
    shape-outside: none;
    /* Center the options */
}
.displayChoices {
    display: flex;
}