* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

body {
    background-color: #0D1B2A;
    color: #E0E1DD;
    text-align: center;
    box-sizing: content-box;
}

button {
    background-color: #778DA9;
    padding: 15px;
    border-radius: 10px;
    shape-outside: none;
    border: 2px solid;
    border-color: #E0E1DD;
    color: #0D1B2A;
    font-size: large;
}